
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-steam:before { content: '\f1b6'; } /* '' */
.icon-soundcloud:before { content: '\f1be'; } /* '' */